In [2]:
import pandas as pd
from utilities import *

In [4]:
df = pd.read_csv(OUTPUT_DIR / f"joined/measure_smr_care_home_type_rate.csv", parse_dates=["date"])
df['care_home_type'] = df['care_home_type'].fillna('missing')

In [10]:
def binary_care_home_status(df):
    df.replace({'CareHome': 1, 'CareOrNursingHome': 1, 'NursingHome':1, 'PrivateHome':0, 'missing': 0},inplace = True)
    df.groupby("care_home_type")[["had_smr", "population"]].sum() # To fix this

In [9]:
binary_care_home_status(df)
df

    care_home_type  had_smr  population     value       date
0                0     35.0         164  0.213415 2020-01-01
1                1    170.0         881  0.192963 2020-01-01
2                1     61.0         303  0.201320 2020-01-01
3                1     70.0         323  0.216718 2020-01-01
4                0    264.0        1329  0.198646 2020-01-01
5                0     34.0         156  0.217949 2020-02-01
6                1    168.0         884  0.190045 2020-02-01
7                1     66.0         321  0.205607 2020-02-01
8                1     61.0         326  0.187117 2020-02-01
9                0    271.0        1313  0.206398 2020-02-01
10               0     24.0         165  0.145455 2020-03-01
11               1    175.0         910  0.192308 2020-03-01
12               1     59.0         307  0.192182 2020-03-01
13               1     63.0         307  0.205212 2020-03-01
14               0    279.0        1311  0.212815 2020-03-01