In [2]:
import pandas as pd
from utilities import *

In [69]:
df = pd.read_csv(OUTPUT_DIR / f"joined/measure_smr_care_home_type_rate.csv", parse_dates=["date"])
df['care_home_type'] = df['care_home_type'].fillna('missing')
dforiginal = df

In [82]:
def binary_care_home_status(
    df,
    numerator_column: str,
    denominator_column: str,
):
    """Converts various care home types into binary value..
    Args:
        df: A measure table
        numerator_column: Column heading to use as numerator
        denominator_column: Column heading to use as denominator
    """ 
    df.replace({'CareHome': 1, 'CareOrNursingHome': 1, 'NursingHome':1, 'PrivateHome':0, 'missing': 0},inplace = True)
    grouped_df = df.groupby(["care_home_type", "date"], as_index=False)[[numerator_column, denominator_column]].sum()
    grouped_df['value'] = grouped_df[numerator_column]/grouped_df[denominator_column]
    return grouped_df

In [83]:
df=dforiginal
df = binary_care_home_status(df, 'had_smr', 'population')
df

   care_home_type       date  had_smr  population     value
0               0 2020-01-01    299.0        1493  0.200268
1               0 2020-02-01    305.0        1469  0.207624
2               0 2020-03-01    303.0        1476  0.205285
3               1 2020-01-01    301.0        1507  0.199735
4               1 2020-02-01    295.0        1531  0.192685
5               1 2020-03-01    297.0        1524  0.194882